$main-color: #006E9D;

* {
   font-family: 'Poppins', sans-serif;
   font-weight: 300;
   margin: 0;
   padding: 0;

   h1, h2, i {
      font-family: 'Finger Paint', cursive;
   }

   h2 {
      color: $main-color;
      margin-bottom: 10px;
   }

   a {
      text-decoration: none;
   }

   section {
      margin-top: 25px;
      padding: 0 35px;
      color: #313131;
   }

   .hero-section {
      margin-top: unset;
      position: relative;
      height: 85vh;
      text-align: center;
      background-color: brown;
      color: white !important;
      background: linear-gradient(158.52deg, rgba(0, 110, 157, 0.47) 19.25%, rgba(0, 0, 0, 0.1974) 92.73%), url("../resources/hero.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      img {
         margin-top: 100px;
         width: 150px;

      }
      h1  {
         font-size: 2.2em;
      }
      
      .support-btn {
         display: block;
         background-color: white;
         padding: 10px 0;
         margin: 10px auto;
         width: 100%;
         max-width: 500px;
         
         color: $main-color;
         font-weight: 500;
         border-radius: 8px;
         filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.07));
      }

      .know-more-anchor {
         a {
            color: white !important;
            text-decoration: underline;
         }
         
      }
      
      .hero-wave {
         position: absolute;
         transform-origin: center;
         left: 50%;
         transform: translate(-50%);
         width: 100vw;
         bottom: -1%;
         
      }
   }

   main {
      .mission-section {
         background: linear-gradient(63.44deg, rgba(0, 82, 117, 0.75) 17.79%, rgba(0, 178, 255, 0.51) 89.56%), url("../resources/turtle.jpg");
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
         color: white ;
         padding-top: 100px;
         padding-bottom: 100px;
         position: relative;
   
         .mission-top-wave {
            position: absolute;
            transform-origin: center;
            left: 50%;
            transform: translate(-50%) rotate(180deg);
            width: 100vw;
            top: -1px;
         }
   
         h2 {
            color: white !important;
         }

         blockquote {
            text-align: center;
            line-height: 50px;
            i {
               display: block;
            }

            .mission-quote-number, .kilo {
               display: inline;
            }

            .mission-quote-number {
               font-size: 4.5em;
            }
         }
   
         .mission-bottom-wave { 
            position: absolute;
            transform-origin: center;
            left: 50%;
            transform: translate(-50%);
            width: 100vw;
            bottom: -1px;
         }
      }
   
      .team-section {
         text-align: center;
   
         img {
            margin-top: 50px;
         }
   
         .member-name {
            font-weight: 500;
         }
   
         .member-role {
            color: #888888;
         }
   
         .member-description {
            margin-top: 20px;
         }
      }
   
      .sponsorships-section {
         background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../resources/sponsorships.jpg");
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
         color: white ;
         padding-top: 100px;
         padding-bottom: 100px;
         position: relative;
   
         padding-top: 150px;
         padding-bottom: 150px;
   
         .sponsor-top-wave {
            position: absolute;
            transform-origin: center;
            left: 50%;
            transform: translate(-50%);
            width: 100vw;
            top: -1px;
         }
   
         h2 {
            color: white !important;
         }

         .sponsorship-level {
            margin-bottom: 35px;
         }
   
         .sponsorship-level-name {
            font-weight: 500;
            display: inline;
            font-size: 1.2em;
         }
   
         ul {
            margin-top: 10px;
            list-style: none;
         }
        
         li:before {
            content: '+ ';
         }
   
         .sponsorship-level-investment {
            display: inline;
            background-color: white;
            border-radius: 8px;
            color: $main-color !important;
            font-size: .8em;
            padding: 2px 10px;
            font-weight: 500;
   
         }

         .sponsor-top-wave {
            position: absolute;
            transform-origin: center;
            left: 50%;
            transform: translate(-50%) rotate(180deg);
            width: 100vw;
            top: -1px;
         }
   
         .sponsor-bottom-wave {
            position: absolute;
            transform-origin: center;
            left: 50%;
            transform: translate(-50%);
            width: 100vw;
            bottom: -1px;
            
         }
      }
   
      .contact-section {
         h2 {
            margin-bottom: 30px;
         }
         label {
            display: block;
            font-weight: 500;
            font-size: .8em;;
         }
   
         input {
            width: 100%;
            margin-bottom: 10px;
            border: unset;
            border-bottom: 2px solid #D3D8DD;
            padding: 10px;
            padding-left: unset;
   
            &:focus {
               outline: unset !important;
            }
         }
   
         .contact-btn {
            display: block;
            text-align: center;
            margin-top: 10px;
            border-radius: 8px;
            padding: 10px 0;
            font-weight: 500;
            color: white;
            background-color: $main-color;
            border: unset;
            cursor: pointer;
         }
   
         .socials {
            padding-top: 20px;
            margin: 0 auto;
            text-align: center;
   
            .icons {
               padding-top: 10px;
               width: 50%;
               margin: 0 auto;
               display: grid;
               grid-template-columns: auto auto auto;
               
            }
         }
      }
   }

   footer {
      margin-top: 30px;
      position: relative;
      background: linear-gradient(296.31deg, rgba(0, 68, 98, 0.71) 9.52%, rgba(0, 83, 118, 0.41) 78.15%), url("../resources/plastic.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      color: white !important;
      height: 30vh;

      p {
         position: absolute;
         bottom: 20px;
         left: 50%;
         transform: translate(-50%);
         width: fit-content;
      }

      .footer-top-wave {
         transform: translateY(-1px) rotate(180deg);
      }
   }
   
}

@media only screen and (min-width: 800px) {
   section {
      padding: 0 20%;
   }

   .team-section {
      .member-wrapper {
         display: grid;
         grid-template-columns: auto auto auto;

         .member {
            margin: 0px 15px;

            img {
               height: 150px;
            }
         }
      }
   }

   .sponsorships-section {
      height: 650px;

      .sponsorship-content-container {
         padding-top: 90px;
         display: grid;
         justify-items: center;

         .sponsorship-levels-wrapper {
            display: grid;
            grid-template-columns: auto auto auto;
   
            .sponsorship-level {
               margin: 0 20px;
               min-width: 170px;
            }
         }
      }

      
   }
}

@media only screen and (min-width: 1300px) {
   .sponsorships-section {
      height: 900px;
      .sponsorship-content-container {
         padding-top: 200px;
      }
   }
}